<h1>Current people:</h1>
<h1>Handlebars JS Example</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Homeworld</th>
        <th>Age</th>  
    </thead> 
    <tbody> 
        {{#each people}} 
        <tr> 
            <td>{{fname}}</td> 
            <td>{{lname}}</td> 
            <td>{{homeworld}}</td> 
            <td>{{age}}</td>
            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/people/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
    <form id="addperson" action="/people" method="post">
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    Homeworld: <select name="homeworld"> 
        {{#each planets}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><br>
    Age: <input type="number" name="age"><br>
    <input type="submit" value="Submit">
    </form>
</table> 
